certifi==2024.8.30 ; python_version >= "3.9"
charset-normalizer==3.4.0 ; python_version >= "3.9"
idna==3.10 ; python_version >= "3.9"
requests==2.32.3 ; python_version >= "3.9"
types-requests==2.32.4.20260107 ; python_version >= "3.9"
urllib3==2.2.3 ; python_version >= "3.9"
